.a1{
    background:linear-gradient(to left,#ceb53877,#c825fab9,#063396b9);
   
}
.a2{
    background:linear-gradient(to left,#2478fa,#b0c6e9) 

}

.a3{
   background:linear-gradient(to left, #45546c,#1f2125,#aab0bd)
}
.a4{background: linear-gradient(to left,#18f123,#c0d0c1 );

}